# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk


#############################################################################

## Stores user specific settings ##
.gradle
.idea/
.settings/
.DS_Store
.idea
*.iml

## could be located in different module directories ##
*.iml

## generated content ##
/bin/
/out/
/gen/
*/build/

## local machine properties ##
local.properties

## folder that contains all test reports ##
/test-reports/

## Test server created by calabash ##
/test_servers/

## Misc ##
AndroidManifest.out.xml
com_crashlytics_export_strings.xml
screenshot_*
WFCMainPage/.idea/gradle.xml
WFCMainPage/.idea/misc.xml
WFCMainPage/.idea/misc.xml
